@{
	ViewData["Title"] = "ReadCookie";
}

<h1 class="text-center">ReadCookie</h1>
<table class="table table-bordered table-hover text-center">
	<thead>
		<tr>
			<th>Id</th>
			<th>FName</th>
		</tr>
	</thead>
	<tbody>
		@if (ViewBag.id == null && ViewBag.name == null)
		{
			<tr>
				<td colspan="2">There Are No Cookies Stored</td>
			</tr>
		}
		else
		{
			<tr>
				<td>@ViewBag.id</td>
				<td>@ViewBag.name</td>
			</tr>
		}
	</tbody>
</table>

